/*
Color Palette:
background color:  
font color:        
secondary color:   
tertiary color:    
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

html{
    font-size: 65%;
}

header {
    margin: 1rem;
    letter-spacing: 0.5rem;
    text-align: center;
    border-bottom: 6px solid #5F9DF7;
    border-right: 6px solid #5F9DF7;
    border-left: 6px solid #5F9DF7;
    padding: 0.5rem;
    box-shadow: 24px 24px 40px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-size: 1rem;
}

body {
    background-color: #182747;
    color: #5F9DF7;
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

cite {
    font-size: 2rem;
}


p {
    font-size: 1.5rem;
}

.imageCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 9rem 6rem ;
}

.imageCard img {
    width: 100%;
    height: auto;
    border-radius: 40px;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2), 0 24px 50px 0 rgba(0, 0, 0, 0.19);
    
}

.imageCard a {
    text-decoration: none;
    color: #EB1D36;
}

.cardText {
   color: #5F9DF7;
    text-align: center;
    padding: 2rem;
    border-radius: 35px;
    margin-top: 4rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19); 
}

@media (min-width: 768px) {
    
    header {
        font-size: 1.6rem;
    }
    
    .gallery {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .imageCard {
        max-width: 20%;
    }
}