/*
Color Palette:
background color:  
font color:        
secondary color:   
tertiary color:    
*/

@import url('https://fonts.googleapis.com/css2?family=Open+sans:wght@300;400;600;700&display=swap');

html{
    font-size: 65%;
}

header {
    margin: 0.5rem;
    letter-spacing: 0.5rem;
    text-align: center;
    border-bottom: 1px solid #5F9DF7;
    border-right: 1px solid #5F9DF7;
    border-left: 1px solid #5F9DF7;
    padding: 0.5rem;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-size: 1rem;
}

body {
    background-color: #182747;
    color: #5F9DF7;
    font-family: 'Open sans', sans-serif;
    margin: 0;
}

cite {
    font-size: 2rem;
}


p {
    font-size: 1.2rem;
}

.imageCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem 4rem ;
}

.imageCard img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.imageCard a {
    text-decoration: none;
    color: #EB1D36;
}

.cardText {
   color: #5F9DF7;
    text-align: center;
    padding: 1rem;
    border-radius: 30px;
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

@media (min-width: 768px) {
    
    header {
        font-size: 1.6rem;
    }
    
    .gallery {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .imageCard {
        max-width: 28%;
    }
}